.idea
app.db
TODO.rst
.coverage

*.swp
*.pyc
*.egg-info
*.pdf

test_rsa*
migrations/*
data/*
env*
.cache/*
.pytest_cache/*
.tox/*
build/*
dist/*
venv/*
old-provision/*
jwt-spike/*

dserver_retrieve_plugin_mongo/version.py
